/* Global styles */
body,
h1,
button {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #333;
}

p {
  margin: 0;
  padding: 0;
  font-style: bold;
}

body {
  background-color: white;
  text-align: center;
}

/* Container */
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 1em; /* Add padding to avoid cutting off content on small screens */
}

.container {
  background: white;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}

.progress-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: #f1f1f1; */
  padding: 10px 0;
  position: flex;
  width: 100%;
  top: 0;
  left: 0;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.progress-step {
  width: 22%;
  height: 10px;
  background-color: lightgray;
  color: black;
  text-align: center;
  line-height: 30px;
  /* border-radius: 5px; */
  transition: background-color 0.3s, color 0.3s;
}

.progress-step.completed {
  background-color: #dad5c4;
  color: white;
}

.collapsible-container {
    margin-top: 20px;
  }
  
  .collapsible-button {
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    display: inline-block;
  }
  
  .collapsible-content {
    display: none;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-top: 10px;
    transition: max-height 0.2s ease-out;
  }
  
  .collapsible-content.expanded {
    display: block;
  }
  

.photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  max-width: 300px; 
  max-height: 325px;
  margin: 0 auto; 
  margin-bottom: 12px;
  margin-top: 12px;
}
.photo {
  max-width: 100%;
  height: auto; 
}

/* Gender selection */
.gender-selection {
  text-align: left;
  justify-content: space-around;
  margin: 1em 0;
}

.gender-btn {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  width: 100%;
}

.gender-btn:hover {
  background-color: black;
  color: white;
}

/* Privacy policy */
.privacy-policy {
  font-size: 0.8em;
  margin-top: 1em;
}

.privacy-policy a {
  color: #007bff;
  text-decoration: none;
}

.privacy-policy a:hover {
  text-decoration: underline;
}

/* Photo example */
.photo-example {
    display: flex;
  margin: 1em 0;
}

.photo-example img {
  max-width: 45%;
  border-radius: 10px;
}

.icon {
  width: 24px;
  height: 24px;
}

/* Buttons */
.continue-btn,
.capture-btn,
.retake-btn,
.confirm-btn {
  width: 100%;
  background-color: black;
  color: white;
  border: 1px solid black;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  justify-content: center;
  align-items: center;
}

video {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin: 1em 0;
}

.video-container {
  position: relative;
  width: 100%;
  /* max-width: 600px; Ajuster selon les besoins */
  margin: 0 auto;
}

#videoFront {
  width: 100%;
  height: auto; /* Assure que la hauteur est proportionnelle à la largeur */
}

.overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5; /* Ajuster l'opacité selon les besoins */
  pointer-events: none; /* Assure que l'image ne gêne pas les contrôles de la vidéo */
  object-fit: cover; /* Assure que l'image couvre tout l'élément sans déformation */
}

/* Photo preview */
.photo-preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1em 0;
}

.photo-preview div {
  margin: 0.5em;
  text-align: center;
}

.photo-preview img {
  width: 150px;
  height: auto;
  border-radius: 10px;
}

/* Button group */
.button-group {
  margin-top: 1em;
}

.button-group button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5em 1em;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-group button:hover {
  background-color: #0056b3;
}

/* Loader */
.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #007bff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: 0 auto 1em auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Textarea */
textarea {
  width: 100%;
  height: 200px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  font-family: "Arial", sans-serif;
  font-size: 1em;
}

/* Media Queries */
@media (max-width: 600px) {
  .container {
    padding: 1em;
  }

  .gender-selection {
    flex-direction: column;
    gap: 1em;
  }

  .photo-preview img {
    width: 100px;
  }
}

        html,
        body,
        p,
        button {
          margin: 0;
          padding: 0;
          font-family: "Euclid Circular B-Regular", Helvetica, Arial, sans-serif;
          line-height: 1.6;
          color: #333;
          overflow-x: hidden;
    
        }
    
        body {
          background-color: #f4f4f4;
          text-align: center;
        }
    
        .iphone {
          background-color: #ffffff;
          width: 100%;
          max-width: 390px;
          margin: 0 auto;
          padding: 20px;
        }
    
        .iphone .div {
          background-color: #ffffff;
          padding-bottom: 100px;
        }
    
        .stage-bar {
          width: 30px;
          background-color: #ddd;
          text-align: center;
          font-size: 0.8em;
          margin-bottom: 10px;
        }
    
        .stage-bar.active {
          background-color: #007bff;
          color: white;
        }
    
        .status-number {
          text-align: left;
        }
    
        .status-bar {
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 100%;
          height: 9px;
          margin: 0px 0px 10px;
        }
    
        .status-rectangle {
          flex: 1;
          height: 10px;
          width: 22%;
          background-color: #dad5c4;
          margin: 0 2px;
          transition: background-color 0.3s, color 0.3s;
        }
    
        .analysis-result,
        .analysis-description,
        .analysis-title,
        .p {
          margin: 10px 0;
        }
    
        .content-div {
          padding: 20px;
          margin-bottom: 20px;
        }
    
        .img,
        .analysis-img,
        .issue-img,
        .solution-img {
          margin: 10px 0;
        }
    
        /* BLOC DES BARRES D'ÉTAT */
        .stage-scale {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          height: 250px;
          /* Fixez la hauteur du conteneur selon vos besoins */
          width: 100%;
          padding: 10px;
          background-color: #f5f1e9;
          box-sizing: border-box;
          margin-bottom: 10px;
        }
    
        .stage-header {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 20px;
        }
    
        .stage-title {
          font-size: 24px;
          font-weight: bold;
        }
    
        .stage-description {
          font-size: 16px;
          color: black;
          font-weight: bold;
        }
    
        .stage-bars {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          justify-content: space-around;
          width: 100%;
          height: 100%;
        }
    
        .stage-scale div {
          text-align: center;
          position: relative;
          border-radius: 3px;
        }
    
        .stage-scale-1 {
          height: 14%;
          width: 10%;
        }
    
        .stage-scale-2 {
          height: 28%;
          width: 10%;
        }
    
        .stage-scale-3 {
          height: 42%;
          width: 10%;
        }
    
        .stage-scale-4 {
          height: 56%;
          width: 10%;
        }
    
        .stage-scale-5 {
          height: 70%;
          width: 10%;
        }
    
        .stage-scale-6 {
          height: 84%;
          width: 10%;
        }
    
        .stage-scale-7 {
          height: 100%;
          width: 10%;
        }
    
        .stage-number {
          position: absolute;
          top: -25px;
          left: 50%;
          transform: translateX(-50%);
          font-size: 14px;
          border: 0.5px dashed #000000;
        }
    
        .info-text {
          display: absolute;
          font-size: 14px;
          color: #000;
          margin-top: 5px;
          left: 45%
        }
    
        .info-text i {
          margin-left: 5px;
        }
    
        /* BLOC FIABLILITÉ*/
        .fiability-container {
          background-color: #efeeec;
          padding: 20px;
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
    
        .fiability-text {
          text-align: left;
          margin-right: 20px;
        }
    
        .fiability-title {
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
        }
    
        .fiability-description {
          font-size: 16px;
          font-weight: 400;
        }
    
        .fiability-score-box {
          position: relative;
          display: inline-block;
        }
    
        .fiability-score-box .img {
          display: block;
          width: 100%;
          height: 100%;
        }
    
        .fiability-score {
          font-size: 22px;
          margin-right: 10px;
          font-weight: 600;
          line-height: 27px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
    
        /* BLOC BOUTONS */
        .button-container {
          display: flex;
          justify-content: space-around;
          align-items: center;
          border-radius: 5px;
          box-sizing: border-box;
          margin: 10px;
        }
    
        .button-item {
          display: flex;
          align-items: center;
          margin: 0 10px;
        }
    
        .button-item img {
          margin-right: 10px;
        }
    
        .button-item button {
          font-size: 14px;
          font-weight: 700;
          border: none;
          background-color: white;
          cursor: pointer;
          transition: background-color 0.3s ease;
          font-family: "Euclid Circular B-Regular", Helvetica, Arial, sans-serif;
        }
    
        .button-item button.active {
          font-weight: bold;
          text-decoration: underline;
        }
    
        /* BLOC ANALYSE*/
        #analysis,
        #issue,
        #solution {
          padding: 20px;
          border: 1px dashed #000;
          box-sizing: border-box;
        }
    
        #analysis p,
        #analysis .analysis-title,
        #analysis .analysis-description,
        #issue p,
        #issue .issues-title,
        #issue ul,
        #issue .issue-description,
        #issue .status-description #solution p,
        #solution .solution-title,
        #solution .solution-subtitle {
          text-align: left;
          margin: 0;
        }
    
        .analysis-title {
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
          margin-bottom: 10px;
        }
    
        .analysis-result {
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
          margin: 10px 0;
        }
    
        .result-container {
          position: relative;
          display: flex;
          align-items: center;
          text-align: left;
    
        }
    
        .analysis-ellipse-img {
          width: 31px;
          height: 31px;
          transform: translateY(-50%);
          margin-top: 30px;
          padding: 0px 10px 0px;
        }
    
        .analysis-description {
          margin-top: 10px;
          font-size: 14px;
          font-weight: 400;
          line-height: 17px;
        }
    
        .issues-title {
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
          margin-bottom: 10px;
        }
    
        #issue ul {
          list-style-type: disc;
          /* Affiche les puces pour la liste */
          margin: 10px 0;
          padding-left: 20px;
          /* Ajoute du padding pour le placement des puces */
        }
    
        #issue ul li {
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
          margin-bottom: 5px;
          /* Espace entre les éléments de la liste */
        }
    
        .hidden {
          display: none;
        }
    
        .issue-description {
          font-size: 14px;
          font-weight: 400;
          line-height: 17px;
          margin: 10px 0;
        }
    
        .issue-status-container {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-top: 10px;
          background-color: #F5F1E9;
        }
    
        .issue-status-content {
          display: flex;
          align-items: center;
          padding: 20px 20px 10px 20px;
        }
    
    
        .issue-status-img {
          width: 15px;
          height: 15px;
          padding-right: 5px;
        }
    
        .issue-status {
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
        }
    
        .status-description {
          font-size: 14px;
          font-weight: 400;
          line-height: 17px;
          padding: 0px 20px 20px 20px;
        }
    
        .solution-title,
        .solution-subtitle {
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
          padding-bottom: 10px;
        }
    
        .solution-description-container {
          display: flex;
          align-items: flex-start;
          margin-bottom: 20px;
        }
    
        .solution-description {
          flex: 1;
          font-size: 14px;
          font-weight: 400;
          line-height: 17px;
          text-align: left;
          margin-right: 20px;
          padding-bottom: 10px;
        }
    
        .solution-description-img {
          width: 206px;
          height: auto;
          padding: 20px;
        }
    
        .solution-args-container {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
    
        .solution-arg {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
        }
    
        .solution-arg i,
        .solution-arg img {
          margin-right: 10px;
          /* Espace entre l'icône et le texte */
          width: 20px;
          /* Ajustez la taille des icônes si nécessaire */
          height: auto;
          /* Conservez les proportions des icônes */
        }
    
        .arg {
          font-size: 14px;
          font-weight: 400;
          line-height: 17px;
          text-align: left;
        }
    
        .redirect-button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 45px;
          font-size: 16px;
          font-weight: 700;
          color: white;
          background-color: black;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          text-align: center;
        }
    
        .condition {
          font-style: italic;
          font-size: 12px;
          font-weight: 400;
          line-height: 10px;
          margin-top: 20px;
          text-align: center;
        }